<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/form.css" />
    <link rel="stylesheet" href="../public/css/fonts.css" />
    <title>DB_admin</title>
  </head>
  <body>
    <div id="container">
      <!-- Выпадающий список -->
      <select id="action">
        <option value="create">Отправить данные</option>
        <option value="delete">Удалить данные</option>
        <option value="edit">Редактировать данные</option>
        <option value="download">Скачать таблицу</option>
      </select>

      <!-- ========== ФОРМА СОЗДАНИЯ (CREATE) ========== -->
      <form 
      id="form-create" 
      data-action="postBook"
      class="form-block"
      >
        <label for="author">Описание:</label>
        <input type="text" name="description" id="author" required />

        <label for="isbn">ISBN:</label>
        <input type="text" name="isbn" id="isbn" />

        <label for="dataNumber">Номер полки:</label>
        <input type="number" name="shelf_number" min="1" id="dataNumber" required />

        <button type="submit" class="send">Отправить</button>
      </form>
              
      <!-- ========== ФОРМА УДАЛЕНИЯ (DELETE) ========== -->
      <form
        id="form-delete"
        data-action="deleteBook"
        class="form-block hidden"
      >
        <input type="hidden" name="_method" />

        <label for="delete-id">Порядковый номер:</label>
        <input type="number" name="serial_id" id="delete-id" required />

        <button type="submit" class="send">Удалить</button>
      </form>

      <!-- ========== ФОРМА РЕДАКТИРОВАНИЯ (PATCH) ========== -->
      <form
        id="form-edit"
        data-action="patchBook"
        class="form-block hidden"
      >
        <input type="hidden" name="_method" />

        <label for="edit-id">Порядковый номер:</label>
        <input type="number" name="old_serial_id" min="1" id="edit-id" required />

        <label for="edit-id">Новый порядковый номер:</label>
        <input type="number" name="new_serial_id" min="1" id="edit-id"/>

        <label for="edit-description">Описание:</label>
        <input type="text" name="description" id="edit-description"/>

        <label for="edit-isbn">ISBN:</label>
        <input type="text" name="isbn" id="edit-isbn"/>
        <!-- 
        <label for="edit-shelf">Номер полки:</label>
        <input type="number" name="shelf_number" min="1" id="edit-shelf"/> -->

        <button type="submit" class="send">Редактировать</button>
      </form>    
      <div id="pages">
        <div class="group" role="group"> 
             <% for (let i = 1; i <= pages; i++) { %>
                <button type="button" data-num="<%= i %>" id="btn_<%= i %>" class="btn btn-primary btn-pages"><%= i %></button>
              <% } %>
        </div>
      </div>
      <div id="info">DB_admin ver. 0.1.0</div>
    </div>
    <div id="main-background">
      <table class="content-table">
            <thead>
              <tr>
                <th>Порядковый номер</th>
                <th>Название</th>
                <th>ISBN</th>
                <th>Номер полки</th>
              </tr>
            </thead>
            <tbody id="book-list">
              <% books.forEach(book => { %>
                <tr>
                  <td><%= book.serial_id %>   </td>
                  <td><%= book.description %> </td>
                  <td><%= book.isbn %>        </td>
                  <td><%= book.shelf_number %></td>
                </tr>
              <% }) %>
            </tbody>
          </table>
    </div>
    <script>
      const select = document.getElementById("action");

      const formCreate = document.getElementById("form-create");
      const formDelete = document.getElementById("form-delete");
      const formEdit = document.getElementById("form-edit");
      const download = document.getElementById("download-tab");

      function switchForms() {
        const value = select.value;

     
        formCreate.classList.add("hidden");
        formDelete.classList.add("hidden");
        formEdit.classList.add("hidden");

        if (value === "create") formCreate.classList.remove("hidden");
        if (value === "delete") formDelete.classList.remove("hidden");
        if (value === "edit") formEdit.classList.remove("hidden");
        if(value === "download") location.href = 'admin/download'

      }

      select.addEventListener("change", switchForms);
    </script>
    <script src="/ws.js"></script>
    <script src="/forms.js"></script>
  </body>
</html>
